<%- include('../partials/head') %>
<link rel="stylesheet" href="output.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="min-h-screen w-full py-16 bg-gradient-to-b from-red-200 to-gray-100 shadow-lg mt-7">
    <div class="flex items-center justify-center w-full"> 
      <form action="/host/<%= editing ? 'edit-home' : 'add-home' %>" method="post" class="bg-gradient-to-br from-red-200 to-gray-100 shadow-xl rounded-2xl p-8 w-full max-w-lg border-2 border-red-400"> 
        <h2 class="text-3xl fold-bold text-center mb-6 text-red-800"><%= editing ? "Edit" : "Register" %> Your Home here :</h2>

        <input type="hidden" value="<%= editing ? home._id : ''%>" name="id" >

        <div class="mb-4">
          <label for="name" class="text-lg font-semibold block mb-2">House Name</label>
          <input type="text" name="houseName" id="name" placeholder="Enter Your House Name" value="<%= editing ? home.houseName : ''%>"
          class=" w-full border border-gray-400 text-base rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-400">
        </div>

        <div class="mb-4">
          <label for="location" class="text-lg font-semibold block mb-2">House City </label>
          <input type="text" name="city" id="location" placeholder="Enter City" value="<%= editing ? home.city : ''%>"
          class=" w-full border border-gray-400 text-base rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-400">
        </div>

        <div class="mb-4">
          <label for="cost" class="text-lg font-semibold block mb-2">Prices  </label>
          <input type="text" name="prices" id="cost" placeholder="Enter Prices" value="<%= editing ? home.prices : ''%>"
          class="w-full border border-gray-400 text-base rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-400">
        </div>

        <div class="mb-4">
          <label for="rating" class="text-lg font-semibold block mb-2">House Rating </label>
          <input type="number" step="0.1" name="rating" id="rating" placeholder="Enter Rating" min="0" max="5" value="<%= editing ? home.rating : ''%>"
          class="w-full border border-gray-400 text-base rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-400 ">
        </div>

        <div class="mb-4">
          <label for="url" class="text-lg font-semibold block mb-2">Photo Url</label>
          <input type="text" name="photoUrl" id="url" placeholder="Enter Photo Url" value="<%= editing ? home.photoUrl : ''%>"
          class="w-full border border-gray-400 text-base rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-400">
        </div>
        
        <div class="mb-6">
          <label for="description" class="text-lg font-semibold block mb-2">Description</label>
          <textarea name="description" id="description" placeholder="Write something about your home..." value="<%= editing ? home.description : ''%>"
          class="w-full border border-gray-400 text-base rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-400" rows="4"></textarea>
        </div>

        <button type="submit" class="w-full py-3 rounded-lg bg-gradient-to-r from-red-500 to-pink-500 text-white font-bold text-lg shadow-md hover:from-red-600 hover:to-pink-600 transition duration-200"><%= editing ? 'Save Changes' : 'Submit Home'%></button>
      </form>
    </div>
  </div>
</body>
</html>