<%- include('../partials/head') %>
<link rel="stylesheet" href="output.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="min-h-screen w-full py-16 bg-gradient-to-b from-red-200 to-gray-100  shadow-lg mt-7">
    <div class="max-w-5xl mx-auto p-10 bg-red-50 rounded-2xl shadow-lg" >
      <h3 class="text-3xl font-bold text-center text-red-600 mb-8 border-b-4 border-red-500 inline-block">
        Home Details of <%= home.houseName %>
      </h3>

      <div class="grid md:grid-cols-2 gap-10 items-start">
        <div>
          <img src="<%= home.photoUrl %>" alt="<%= home.houseName %>" class="w-full h-80 object-cover rounded-2xl shadow-md border border-gray-200">
        </div>

        <div class="space-y-6 text-lg">
          <p class="font-semibold text-gray-800">Description:
            <span class="text-gray-500"><%= home.description %></span>
          </p>
          <p class="text-xl font-semibold text-gray-800">
            Location: <span class="text-blue-600"><%= home.city %></span>
          </p>
          <p class="text-lg font-semibold text-gray-800">
            Price: <span class="text-green-600">&#x20B9 <%= home.prices %>/ night</span>
          </p>
          <p class="text-lg font-semibold text-gray-800">
            Rating: <span>&#11088 <%= home.rating %> / 5</span>
          </p>

          <%- include('../partials/favorite') %>
        </div>
      </div>
    </div>

  </div>
</body>
</html>