<%- include('../partials/head') %>
<link rel="stylesheet" href="output.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="min-h-screen w-full py-16 bg-gradient-to-b from-red-200 to-gray-100  shadow-lg mt-7">
    <div class="max-w-5xl mx-auto p-10 bg-red-50 rounded-2xl shadow-lg" >
      <h3 class="text-3xl font-bold text-center text-red-600 mb-8 border-b-4 border-red-500 inline-block">
        Home Details of <%= home.houseName %>
      </h3>

      <div class="grid md:grid-cols-2 gap-10 items-start">
        <div>
          <img src="<%= home.photo %>" alt="<%= home.houseName %>" class="w-full h-80 object-cover rounded-2xl shadow-md border border-gray-200">
        </div>

        <div class="space-y-6 text-lg">
          <p class="font-semibold text-gray-800">Description:
            <span class="text-gray-500"><%= home.description %></span>
          </p>
          <p class="text-xl font-semibold text-gray-800">
            Location: <span class="text-blue-600"><%= home.city %></span>
          </p>
          <p class="text-lg font-semibold text-gray-800">
            Price: <span class="text-green-600">&#x20B9 <%= home.prices %>/ night</span>
          </p>
          <p class="text-lg font-semibold text-gray-800">
            Rating: <span>&#11088 <%= home.rating %> / 5</span>
          </p>
          <a href="/rules/<%= home._id %>/download" class="inline-flex items-center mt-2 text-blue-600 font-semibold hover:underline hover:text-blue-700 transition">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 text-blue-600" fill="currentColor" viewBox="0 0 24 24">
              <path d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.828a2 2 0 00-.586-1.414l-3.828-3.828A2 2 0 0010.172 2H6zm4 1.414L15.586 9H14a1 1 0 01-1-1V3.414zM6 4h4v4a2 2 0 002 2h4v6a1 1 0 01-1 1H6a1 1 0 01-1-1V4zm2.5 7a.5.5 0 00-.5.5v3a.5.5 0 001 0v-1h1v1a.5.5 0 001 0v-3a.5.5 0 00-1 0v1h-1v-1a.5.5 0 00-.5-.5z"/>
            </svg>
            Download House Rules (PDF)
          </a>
          <%- include('../partials/favorite') %>
        </div>
      </div>
    </div>

  </div>
</body>
</html>